API_KEY=yourApiKeyHere
API_URL=baseUrl
BRAND_URL=endpointGate

# Test config
# Customer
E2E_USERNAME=testusername
E2E_EMAIL=testusername@email.no
E2E_PASSORD=12345678

# Venue manager
E2E_USERNAME_VM=testusername
E2E_EMAIL_VM=testusername@email.no
E2E_PASSWORD_VM=12345678

# Venue
E2E_VENUE_ID=test-venue_ID_here
