@import "./font-face.css";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #027af2;
  color: white;
}

.link-underline:hover {
  text-decoration: underline !important;
}

/*
--------------------------------
*MuiCard DARKMODE*
backgroundColor: "hsla(220, 35%, 3%, 0.4)",

*MuiOutlinedInput DARKMODE*
backgroundColor: #DFDFDF

*MuiOutlinedInput LIGHTMODE*
backgroundColor: (theme.vars || theme).palette.background.default
border: #e0e4eb
*/
